<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Resto Apps homepage, discover any local restaurants in here.">
        <meta name="theme-color" content="#9DB2BF" />    

        <link rel="apple-touch-icon" href="icons/icon-192x192.png" />
        <link rel="manifest" href="app.webmanifest" />
        <link rel="icon" href="favicon.ico" />

        <script src="https://kit.fontawesome.com/76d13c1d26.js" crossorigin="anonymous"></script>

        <title>Resto Apps</title>
    </head>

    <body>
        <a href="#content" class="skip-link">Skip to content</a>
        <header>
            <app-bar></app-bar>
            <hero-element></hero-element>
        </header>
        <main>
            <div id="content" tabindex="0">
                <section>
                    <h2><span class="content-title">Discover Restaurant</span></h2>
                </section>
            </div>
        </main>
        <footer>
            <footer-element></footer-element>
        </footer>
    </body>

</html>